{% extends 'base.html.twig' %}

{% block title %} - Made Documentation{% endblock %}

{% block body %}
    {% block header %}
        <header class="border-bottom">
            <nav class="navbar navbar-expand-md navbar-light bg-light">
                <a class="navbar-brand" href="{{ root.link }}">
                    Made Documentation
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ root.link }}">
                                Documentation <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/made/documentation" target="_blank">GitHub</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    {% endblock %}

    {% block main %}
        <div id="main" class="position-relative py-3">
            <main role="main" class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="template-navigation bg-light mb-3 mb-md-0">
                            {% block navigation %}
                                {% import 'macro/navigation.html.twig' as navigation %}

                                <div class="accordion" id="accordionSide">
                                    <div class="card">
                                        <div class="card-header p-0" id="headingPageTree">
                                            <span class="d-inline-block p-2 align-middle">
                                                <i class="fas fa-stream fa-fw"></i>
                                            </span>

                                            <button class="btn btn-link p-2" type="button"
                                                    data-toggle="collapse" data-target="#collapsePageTree"
                                                    aria-expanded="true" aria-controls="collapsePageTree">
                                                Full page tree
                                            </button>
                                        </div>
                                        <div id="collapsePageTree" class="collapse show"
                                             aria-labelledby="headingPageTree">
                                            <div class="card-body p-2 pl-3">
                                                {{ navigation.show(page, [
                                                    root,
                                                ], true) }}
                                            </div>
                                        </div>
                                    </div>
                                    {% if other_version_list is not empty %}
                                        <div class="card">
                                            <div class="card-header p-0" id="headingOtherVersion">
                                                <span class="d-inline-block p-2 align-middle">
                                                    <i class="fas fa-list-ol fa-fw"></i>
                                                </span>
                                                <button class="btn btn-link p-2 collapsed" type="button" data-toggle="collapse"
                                                        data-target="#collapseOtherVersion" aria-expanded="false"
                                                        aria-controls="collapseOtherVersion">
                                                    Other versions of this page
                                                </button>
                                            </div>

                                            <div id="collapseOtherVersion" class="collapse"
                                                 aria-labelledby="headingOtherVersion">
                                                <div class="card-body p-2 pl-3">
                                                    {{ navigation.show(page, other_version_list, false) }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="card">
                                        <div class="card-header p-3">
                                            This page was generated on <em>{{ date|date('F d, Y') }}</em>.
                                        </div>
                                    </div>
                                </div>
                            {% endblock %}
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-8">
                        <div class="template-content">
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </main>

            {% include 'image/github-corner.html.twig' %}
        </div>
    {% endblock %}

    {% block footer %}
        <footer class="bg-light border-top py-3">
            <div class="container">
                <div class="float-right">
                    <a href="#main">Back to top</a>
                </div>

                <div>© {{ date|date('Y') }} Made</div>
            </div>
        </footer>
    {% endblock %}
{% endblock %}
